<!DOCTYPE html>
<html lang="en">

<head> 
    <%- include('../partials/head') %>
  </head> 
<body>
    <header> 
        <%- include('../partials/header') %>
    </header>
    <section>
        <p>Welcome tech-watch user !</p>
    </section>
    <section>
        <ul>    
            <% newProject.forEach(function(project) { %>
            <li><%= project.subject %></li>
            <li><%= project.date %></li>
            <li>
                <% for(let i=0; i< project.students.length; i++) { %>
                <%= project.students[i].name %>
                <% } %>
            </li>
            <br />
            <% }); %>
        </ul>
    </section>
    <section>
        <p>List of students they will must do a tech-watch soon:</p>
    </section>
    <section>
        <ul>
            <% availableStudent.forEach(function(student) { %>
            <li><%= student.name %></li>
            <% }); %>
        </ul>
    </section>
    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>