<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>

<header>
</header>

<body>
    <section>
        <p>Welcome tech-watch user !</p>
    </section>
    <section>
        <ul>
            <% for(let i = 0; i < 2; i++) {%>
            <% newProject.forEach(function(project) { %>
            <li><%= project.subject %></li>
            <li><%= project.date %></li>
            <li>
                <% for(let i=0; i< project.students.length; i++) { %>
                <%= project.students[i].name %>
                <% } %>
            </li>
                <br/>
            <% }); %>
            <% }; %>
        </ul>
    </section>
    <section>
        <p>List of students they will must do a tech-watch soon:</p>
    </section>
    <section>
        <ul>
            <% newStudent.forEach(function(student) { %>
            <li><%= student.name %></li>
            <% }); %>
        </ul>
    </section>

=======
<head> 
    
  <%- include('../partials/head') %>
</head> 

<body>
    <header> 
        <h1>My Tech-wasch Assignator</h1> 
        <%- include('../partials/header') %>
    </header>
    
    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
>>>>>>> c076e6b5c999b5fa82437a4b9ae0ed24a1129fe6
</body>

</html>