<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <section>
        <h2 class="">Welcome tech-watch user !</h2>
        <ul>    
        <% newProject.forEach(function(project) { %>
        <li><%= project.subject %></li>
        <li><%= project.date %></li>
        <li>
            <% for(let i=0; i< project.students.length; i++) { %>
            <%= project.students[i].name %>
            <% } %>
        </li>
        <br />
        <% }); %>
    </ul>

        
    </section>
    <section>
        <form action="/assignation-project" method="POST">
            <label for="insertname" class="label">Insert Subject :</label>
            <input type="text" placeholder="Subject" name="subject">
            <input type="text" placeholder="Number Student" name='nbr'>
            <input type="date" placeholder="Deadline" name='date'>
            <button type="submit">Create Tech-watch</button>
        </form>
    </section>
    <footer>
        <%- include('../partials/footer') %>

        </footer>
</body>

</html>